<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>User Dashboard</h2>
        <h4>Name - <%= Result.name %></h4>
        <h4>Email - <%= Result.email %></h4>
    </body>
    <a href="/logout">Logout Dashboard</a>
</html>