<!doctype html>
<html>

<head>
  <title>Login Page</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <style>
    .linkedin {
      background-color: #0073b1 !important;
      color: #fff !important;
    }
    .fa-linkedin-f:before,
    .fa-linkedin:before {
      content: "\f0e1";
    }
  </style>
</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <h3>Login Dashboard</h3>
        <div>
          <form action="/login" method="post">
             <input type="email" name="email" id="" class="" placeholder="Enter Email">
             <input type="password" name="password" id="" class="" placeholder="Enter Password">
             <button class="btn btn-success">Submit</button>
          </form>
        </div>
        <div class="col">
              <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=77u3fa0v6n2ps7&redirect_uri	=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Flinkedin%2Fcallback&scope=openid%20profile%20email" 
                 class="btn btn-primary">
                 Sign in with Linkedin
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<script>
  
</script>